@font-face {
    font-family: poppins;
    src: url("../../public/Poppins-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: poppins;
}

.noLessonFound {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.image {
    width: calc(100vw + 20px);
    height: calc(100vh + 10px);
    position: fixed;
    z-index: -20;
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -5px;
    background-size: cover;
    filter: blur(5px);
    background-position: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

.CoursePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
    margin-block: 20px;
    font-size: 40px;
    font-weight: bold;
}

.desc {
    width: 600px;
    color: rgb(180, 180, 180);
    margin-bottom: 40px;
}

.link {
    width: 1000px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: flex;
}

.link > div:first-child {
    width: 900px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 20px;
}

.link > div:last-child {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link i {
    font-size: 50px;
}

.completed {
    background-color: lightgreen;
}